body{
  text-align: center;
}

.choice-image {
  height: 75px;
}

.Choice-Button {
  height: 100px;
  width: 100px;
  border: none;
  margin: 20px;
  background-color: rgb(177, 242, 144);
  border-radius: 50px;
  cursor: pointer;
}

